<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
</head>
<body>
    <h1>Trivia</h1>
    <h3>Question:</h3>
    <p>{{ question }}</p>
    <form action="/guess" method="post">
        <label for="answer">Enter your guess below</label>
        <input type="text" name="userAnswer" id="">
        <input type="text" name="answer" value = "{{answer}}" id="" hidden>
        <input type="submit" value="">
    </form>
</body>
</html>